bronbron_giffie/out/waow
*.DS_Store
hoops/msf/data
hoops/msf/clutter
fiddle_bayes/adj/examples
fiddle_bayes/misc_etc/02_kharratzadeh/02_kharratzadeh_stancon_slides.pdf
junk_links_etc.md
junk_links_etc.html
fiddle_py/dl_examples
