bronbron_giffie/out/waow
*.DS_Store
hoops/msf/data
hoops/msf/clutter
fiddle_bayes/adj/examples
fiddle_bayes/misc_etc/02_kharratzadeh/02_kharratzadeh_stancon_slides.pdf
junk_links_etc.md
junk_links_etc.html
fiddle_py/dl_examples
_ignore
hoops/api_build/data
hoops/api_build/things-to-repro
hoops/throne/data/*.csv
hoops/throne/data/*.zip
hoops/irt-post
language/grammars/sarkar_pcfg
language/modeling/adj/examples
language/modeling/ITILA_book
**/__pycache__
language/nlp/sentiment/umass_sent_corpus
language/nlp/tweeter/clutter
language/nlp/tweeter/out
language/nlp/tweeter/out-olf
language/nlp/unaman_googmem/docint_plots
language/nlp/unaman_googmem/intersect_plots
language/nlp/unaman_googmem/out
language/nlp/unaman_googmem/PosTagR.pdf
language/nlp/word_vectors/data
**/ignore/
fiddles/fiddle_bayes/misc_etc
fiddles/fiddle_coq
**/.html
